<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input">
      <input
        type="text"
        formControlName="task"
        placeholder="Digite sua tarefa"
      />
      <button
        [disabled]="!form.valid"
        type="submit"
        style="width: 60px; margin-left: 5px"
      >
        Criar
      </button>
    </div>
  </form>
</div>

<div>
  <h3 *ngIf="">Você tem {{ taskNumber }} Tarefas</h3>
</div>
<section>
  <article className="taskList">
    Aprender criar projetos usando Next Js e aplicando firebase como back
    <div className="actions">
      <div>
        <div>
          <time>18 julho 2022</time>
        </div>
        <button>
          <span>Editar</span>
        </button>
      </div>

      <button>
        <span>Excluir</span>
      </button>
    </div>
  </article>
</section>
